<!DOCTYPE html>

<html>
<head>
    {{ block "title" . }}
    <title> J. Roberts </title>
    {{ end }}
    {{ block "styles" .}}
    <link rel="stylesheet" href="/css/main.css">
    {{ end }}
</head>

<body>
	<header>
		<div id="Home">
			<a href="/">
			<h2> J. ROBERTS </h2>
			</a>
		</div>
		<nav>
			<ul>
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				<li>
                    <a href="{{ .URL }}"{{ if eq .URL $currentPage.URL }} class="active"{{end}}> {{ .Name }} </a>
				</li>
			{{ end }}
			</ul>
		</nav>
	</header>
    {{ block "main" . }}
	<p> Unknown page </p>
    {{ end }}
</body>

</html>